{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h3> My Area </h3>
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Classroom</th>
        </tr>
        </thead>
        <tbody>
        {% if students %}
            {% for student in students %}
                <tr>
                    <td>{{ student.student.name }}</td>
                    <td>{{ student.subject.name }}</td>
                    <td>{{ student.classroom.number }}</td>

                </tr>
            {% endfor %}
        {% endif %}

    </table>
{% endblock %}