{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h3> {{ info }}'s Area </h3>

    <div class="myareasubjects">

        {% if subjects %}
            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Classroom</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject.subject.name }}</td>
                        <td>{{ subject.classroom.number }}</td>

                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <h3> You dont have any subjects this year! </h3>

            </div>
        {% endif %}

{% endblock %}