{% load static %}
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


{% load crispy_forms_tags %}
<div style=" display:flex; ">
    <form method="POST" style=" margin:auto; margin-top: 10%">
        <h2>Log In</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
         {% if schoolyears %}
                {% for schoolyear in schoolyears %}
                   <a>{{ schoolyear.year }}</a>
                {% endfor %}
            {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

